@font-face {
    /* 폰트 이름 지정 (폰트 이름이랑 달라도 되지만, 보통 같게 만듬)*/
    font-family: 'nokiakokia';
    src: url(font/nokiakokia.ttf);
}

html,
body {
  /* background-color: #1a1a1a; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'nokiakokia', sans-serif ;
  overflow: hidden;
}

p {
  font-size: 5rem;
  color: #f1f1f1;
  transform: skew(var(--skew));
  transform: skew(var(--skew)) scale(var(--scale));
}

p::after,
p::before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  transition: clip-path 50ms ease-in;
  /* background-color: #1a1a1a; */
  background-color: #1a1a1a00;
}

p::before {
  left: 5px;
  text-shadow: 2px -2px #2a96d4;
  clip-path: polygon(0 var(--t1), 100% var(--t1), 100% var(--b1), 0 var(--b1));
}

p::after {
  left: -5px;
  text-shadow: -2px 2px #cc2a1f;
  clip-path: polygon(0 var(--t2), 100% var(--t2), 100% var(--b2), 0 var(--b2));
}



h1 {
  font-size: 5rem;
  color: #f1f1f1;
  transform: skew(var(--skew));
  transform: skew(var(--skew)) scale(var(--scale));
}

h1::after,
h1::before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  transition: clip-path 50ms ease-in;
  /* background-color: #1a1a1a; */
  background-color: #1a1a1a00;
}

h1::before {
  left: 5px;
  text-shadow: 2px -2px #2a96d4;
  clip-path: polygon(0 var(--t1), 100% var(--t1), 100% var(--b1), 0 var(--b1));
}

h1::after {
  left: -5px;
  text-shadow: -2px 2px #cc2a1f;
  clip-path: polygon(0 var(--t2), 100% var(--t2), 100% var(--b2), 0 var(--b2));
}